@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Indk&oslash;bsseddel</title>
</head>
<body>
    <div class="text-center m-2">
        <h3>Her kan du lave en indk&oslash;bsseddel!</h3>
        <a class="btn btn-primary" asp-action="ShoppingListForm">Lav indk&oslash;bsseddel</a>
        <h1>TEST</h1>
    </div>
</body>
</html>