@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Welcome</title>
</head>
<body>
    <div class="text-center m-2">
        <h3>Welcome</h3>
        <a class="btn btn-primary" asp-action="ShoppingListForm">Make shopping list</a>
    </div>
</body>
</html>