@model IEnumerable<Aflevering1.Models.Product>
    @{
Layout = null;
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Indk&oslash;bsseddel</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div>
            <h2>
                Indk&oslash;bsseddel
            </h2>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Placering</th>
                        <th>Vare</th>
                        <th class="text-center p-2">Antal</th>
                        <th class="text-center p-2">Pakket</th>
                        <th class="text-center p-2">Fjern</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Aflevering1.Models.Product p in Model!) {
                        <tr>
                            <td>@p.Section</td>
                            <td>@p.Name</td>
                            <td class="text-center p-2">@p.Amount</td>
                            <td class="text-center p-2"><input type="checkbox" id="inBasket"></td>
                            <td class="text-center p-2"><input type="checkbox" id="remove"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>
