@model Aflevering1.Models.Product
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet"
          href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    Click <a asp-action="ListProducts">here</a> to see who is coming.
</body>
</html>